nav {
  display: block;
}

div {
  padding : 3px;
  border: 1px solid;
}
/*
	building
*/
.floor {
  display: flex;
  height: 200px;
}
.wall {
  -webkit-flex: 1;
  flex:1;
}






/*
  elevator
*/
.container-between {
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
}


.elevator {
  /*display: inline-block;*/
  height: 150px;

  -webkit-flex: 1;
  flex:1;
  padding :10px;
  margin : 10px;
}
